<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0" package="com.galactogolf">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".GameActivity"
                  android:label="@string/app_name" android:screenOrientation="portrait">
            
        </activity><intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter><activity android:name="MainMenuActivity" android:screenOrientation="portrait"><intent-filter>

<action android:name="android.intent.action.MAIN"></action>
<category android:name="android.intent.category.LAUNCHER"></category>
</intent-filter>
</activity>

    
<activity android:name="LevelSetSelectActivity" android:screenOrientation="portrait"></activity>
<activity android:name="LevelSetDetailsActivity" android:screenOrientation="portrait"></activity>
<activity android:name="LevelSetDetailsEditActivity" android:noHistory="true"></activity>
<activity android:theme="@style/Theme.MessagePopupDialogTheme" android:name="MessagePopupActivity"></activity>
<activity android:name="LevelCompletedDialogActivity" android:theme="@style/Theme.MessagePopupDialogTheme"></activity>
<activity android:theme="@style/Theme.MessagePopupDialogTheme" android:name="LevelSetCompletedDialogActivity"></activity>
<activity android:name="GalactoGolfPreferences"  android:screenOrientation="portrait"></activity>
<activity android:name="HowToPlayActivity"  android:screenOrientation="portrait"></activity>
</application>


<uses-sdk android:minSdkVersion="8"></uses-sdk>

<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest> 